{% extends "base.html" %}

{% block title %} Discussion {% endblock %}

{% block content %}
<h2> Dashboard </h2>
<p>Welcome back, <strong>{{ user.username }}</strong>!</p>

<div style="padding:10px; border:1px solid #ccc;">
  <p>Your assigned role is: <strong>{{ user.profile.get_role_display }}</strong></p>
</div>

<hr>

{% if user.profile.role == 'teacher' %}
   <div style="display: flex; justify-content: space-between; align-items: center;">
        <h2>My Created Courses</h2>
        <a href="{% url 'courses:create_course' %}" style="padding: 8px 15px; background-color: #28a745; color: white; text-decoration: none; border-radius: 5px;">
            + Create New Course
        </a>
    </div>

    {% for course in teacher_courses %}
        <div class="card" style="border: 1px solid #ddd; padding: 15px; margin-bottom: 10px; border-radius: 8px;">
            <h3>{{ course.title }}</h3>
            <p>Students Enrolled: {{ course.students.count }}</p>
            
            <div style="display: flex; gap: 10px;">
                <a href="{% url 'courses:course_detail' course.id %}">
                    <button>View Course</button>
                </a>
                <a href="{% url 'courses:edit_course' course.id %}">
                    <button style="background-color: #ffc107;">Edit Content</button>
                </a>
            </div>
        </div>
    {% empty %}
        <p>You haven't created any courses yet.</p>
        <a href="{% url 'courses:create_course' %}" style="color: #007bff;">Start by creating your first course.</a>
    {% endfor %}
{% elif user.profile.role == 'student' %}
<h2>My Courses</h2>

{% for item in course_data %}
    <div class="card">
        <h3>{{ item.course.title }}</h3>

        <p>Progress: {{ item.progress_percent }}%</p>

        <div style="background:#ddd; height:15px; border-radius:8px;">
            <div style="
                width:{{ item.progress_percent }}%;
                background:#4caf50;
                height:100%;
                border-radius:8px;
            "></div>
        </div>

        <br>

        {% if item.progress_percent == 100 %}
            <p style="color:green;">🎉 Course Completed</p>
        {% elif item.next_lecture %}
            <a href="{% url 'courses:lecture_detail' item.next_lecture.id %}">
                <button>Resume Course</button>
            </a>
        {% endif %}

        <a href="{% url 'courses:course_detail' item.course.id %}">
            <button>View Course</button>
        </a>

    </div>
{% empty %}
    <p>You are not enrolled in any courses yet.</p>
{% endfor %}
   
{% else %}
    <p>Please contact an administrator to assign your permissions.</p>
{% endif %}

    <hr>



<form action="{% url 'accounts:logout' %}" method="post">
  {% csrf_token %}
  <button type="submit">Logout</button>
</form>

{% endblock %}
