<h2> All courses </h2>

{% if request.user.profile.role == "teacher" %}
<a href="{% url 'courses:create_course' %}"> Create Course </a>
{% endif %}

<ul>
  {% for course in courses %}
  <li>
    <strong>{{ course.title }}</strong> --
    {{ course.description }}

    {% if request.user.profile.role == "student" %}
    
    {% if course.id in enrolled_courses %}
        <span>Enrolled ✅</span>
        <a href="{% url 'courses:unenroll_course' course.id %}?next={{ request.path }}">
            Unenroll
        </a>
    {% else %}
        <a href="{% url 'courses:enroll_course' course.id %}?next={{ request.path }}">
            Enroll
        </a>
	{% endif %}
	{% endif %}
 
  </li>
  {% empty %}
  <li> No courses yet </li>
  {% endfor %}
</ul>
