{% extends "base.html" %}
{% load static %}
{% block title %} Create New Course {% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/add_course.css' %}">
{% endblock %}
{% block content %}


<div class="form-wrapper">
    <div class="form-header">
        <span class="section-label">Academy Creation</span>
        <h2>Create Course</h2>
        <p class="text-muted small">Establish the foundation for your students learning experience</p>
    </div>

    <div class="form-card">
        <form method="post" enctype="multipart/form-data"  novalidate>
            {% csrf_token %}
            
            {% if form.non_field_errors %}
                <div class="errorlist">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}

            {{ form.as_p }}

            <button type="submit" class="btn-launch-main">
                <i class="bi bi-rocket-takeoff me-2"></i> Launch Course
            </button>
        </form>
    </div>

    <div class="action-footer">
        <a href="{% url 'accounts:dashboard' %}" class="btn-cancel">
            Cancel and Return
        </a>
    </div>
</div>

{% endblock %}
